﻿@{
    Layout = "master.cshtml";
}

@if(!Model.IsValid) {
<ul>
    @foreach(var error in Model.FormattedErrors) {
    <li>
        @error.Key:
    </li>
    }
</ul>
}
<form action="/users/create" method="POST">
    @Html.AntiForgeryToken()
    <label for="username">Username:</label>
    <input type="text" name="username" />
    <label for="username">Password:</label>
    <input type="text" name="password" />
    <input type="submit" />
</form>
